body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  padding-bottom: 3rem;
}

h2 {
  font-size: 3rem;
}

.container-fluid {
  padding: 3% 15%;
}

/* navigation css */

.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffff;
}

.navbar-nav {
  padding: 20px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Ubuntu";
  color: whitesmoke;
  font-size: 18px;
}

/* download button css */

.download-button {
  margin: 5% 3% 5% 0;
}

/* title image  */
.title-image {
  width: 60%;
  transform: rotate(15deg);
  margin: auto 8rem;
}

/* features section */
.features {
  font-family: "Montserrat-bold";
}

#features {
  padding: 5% 15%;
}

.features-headline {
  font-size: 1.5rem;
}

.features-description {
  font-size: 1.1 rem;
  color: #8f8f8f;
  font-family: "ubuntu";
}

.features-container {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ff4c68;
  padding-bottom: 50px;
}

.icon:hover {
  color: red;
}

#testimonials {
  background-color: #ff4c68;
  color: white;
  font-family: "Montserrat";
  text-align: center;
  padding: 7% 15%;
}

.testimonials-img {
  border-radius: 100%;
  width: 9rem;
}

#press {
  background-color: #ff4c68;
  text-align: center;
}

.press-logo {
  width: 8rem;
  margin: 2% 3%;
}

body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  padding-bottom: 3rem;
}

h2 {
  font-size: 3rem;
}

.container-fluid {
  padding: 3% 15%;
}

/* navigation css */

.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffff;
}

.navbar-nav {
  padding: 20px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Ubuntu";
  color: whitesmoke;
  font-size: 18px;
}

/* download button css */

.download-button {
  margin: 5% 3% 5% 0;
}

/* title image  */
.title-image {
  width: 60%;
  transform: rotate(15deg);
  margin: auto 8rem;
}

/* features section */
.features {
  font-family: "Montserrat-bold";
}

#features {
  padding: 5% 15%;
}

.features-headline {
  font-size: 1.5rem;
}

.features-description {
  font-size: 1.1 rem;
  color: #8f8f8f;
  font-family: "ubuntu";
}

.features-container {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ff4c68;
  padding-bottom: 50px;
}

.icon:hover {
  color: red;
}

#testimonials {
  background-color: #ff4c68;
  color: white;
  font-family: "Montserrat";
  text-align: center;
  padding: 7% 15%;
}

.testimonials-img {
  border-radius: 100%;
  width: 9rem;
}

#press {
  background-color: #ff4c68;
  text-align: center;
}

.press-logo {
  width: 8rem;
  margin: 2% 3%;
}
