body {
  font-family: "Montserrat";
}

/* title section */

#title {
  /* background-color: #ff4c68; */
  background-color: #e76161;
  color: #fff;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  padding-bottom: 3rem;
}

h2 {
  font-size: 3rem;
}

.container-fluid {
  padding: 3% 15% 4%;
}

/* navigation css */

/* .navbar {
  padding-bottom: 4.5rem;
} */

.navigation-bar {
  background-color: #8bacaa;
  padding: 0 2.5%;
  margin: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffff;
}

.navbar-nav {
  padding: 20px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Ubuntu";
  color: whitesmoke;
  font-size: 18px;
}

h5 {
  text-align: center;
  font-size: 2rem;
}

.offcanvas-header {
  border-bottom: 1px solid;
}

.custom-collapse-section {
  text-align: center;
}

.title-row-section {
  margin-top: 10%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 18%;
  transform: rotate(15deg);
  margin: auto 8rem;
  position: absolute;
}

/* features section  */

#features {
  /* font-family: "Montserrat-bold"; */
  padding: 5% 15%;
  position: relative;
  /* z-index: 1; */
  background-color: #fff;
}

.features-headline {
  font-size: 1.5rem;
}

.features-description {
  font-size: 1.1 rem;
  color: #8f8f8f;
  font-family: "ubuntu";
}

.features-container {
  text-align: center;
  padding: 5%;
}

.icon {
  /* color: #ff4c68; */
  color: #e76161;
  padding-bottom: 50px;
}

.icon:hover {
  color: red;
}

/* .testimonials section */

#testimonials {
  /* background-color: #ff4c68; */
  background-color: #e76161;
  color: white;
  font-family: "Montserrat";
  text-align: center;
  height: 650px;
}

.testimonials-img {
  border-radius: 100%;
  width: 9rem;
}

.carousel-item {
  padding: 7% 15%;
  height: 500px;
}

#press {
  /* background-color: #ff4c68; */
  background-color: #7c9070;
  text-align: center;
}

.press-logo {
  width: 8rem;
  margin: 2% 3%;
}

/* pricing groups */
.cards-row {
  padding: 7% 15%;
}

.cards-items {
  margin: 5% 5%;
  border-left: 0px;
}

#pricing {
  padding: 3% 3%;
  text-align: center;
}

/* cta section */

#cta {
  /* background-color: #ff4c68; */
  background-color: #e76161;
  padding: 7% 15%;
  text-align: center;
  font-family: "Montserrat";
}

.cta-h3 {
  font-size: 3.5rem;
  color: white;
}

.cta-download-button {
  margin: 5% 1% 0;
}

/* footer section  */

#footer {
  padding: 2%;
  text-align: center;
  font-family: "ubuntu";
  font-size: 1.1 rem;
  color: #8f8f8f;
}

.footer-icon {
  padding: 5px 5px 10px;
}

/* responsiveness */

@media (max-width: 995px) {
  .title-image {
    transform: rotate(0deg);
    position: static;
    width: 200px;
    margin-left: 35%;
  }

  h1 {
    text-align: center;
  }

  .buttons {
    margin-left: 22%;
    margin-bottom: 10px;
  }
}
